PIHOLE_INTERFACE={{ setup_vars.pihole_interface }}
PIHOLE_DNS_1={{ setup_vars.pihole_dns_1 }}
PIHOLE_DNS_2={{ setup_vars.pihole_dns_2 }}
QUERY_LOGGING={{ setup_vars.query_logging | lower }}
INSTALL_WEB_SERVER={{ setup_vars.install_web_server | lower }}
INSTALL_WEB_INTERFACE={{ setup_vars.install_web_interface | lower }}
LIGHTTPD_ENABLED={{ setup_vars.lighttpd_enabled | lower }}
CACHE_SIZE={{ setup_vars.cache_size }}
DNS_FQDN_REQUIRED={{ setup_vars.dns_fqdn_required | lower }}
DNS_BOGUS_PRIV={{ setup_vars.dns_bogus_priv | lower }}
DNSMASQ_LISTENING={{ setup_vars.dnsmasq_listening }}
WEBPASSWORD={{ setup_vars.webpassword }}
BLOCKING_ENABLED={{ setup_vars.blocking_enabled | lower }}